<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Entry</h4>
            <p class="card-category">List of entry</p>
          </div>
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Title" type="text" [(ngModel)]="tbeTitle" (keyup.enter)="getEntryList(null)">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Content" type="text" [(ngModel)]="tbeContent" (keyup.enter)="getEntryList(null)">
                </mat-form-field>
              </div>
            </div>
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)" [disabled]="clicked"></mat-paginator>
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Date</th>
                  <th scope="col">Email</th>
                  <th scope="col">Title</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="this.getEntryListResponse.lstViewUserEntry[0].tbeId != undefined">
                <tr *ngFor="let viewUserEntry of getEntryListResponse.lstViewUserEntry; let i = index">
                  <td>{{i + 1 + (pageSize * pageIndex)}}</td>                  
                  <td>{{viewUserEntry.tbeCreateDate | date: 'M/dd/yyyy HH:mm:ss'}}</td>
                  <td>{{viewUserEntry.tbuEmail}}</td>
                  <td>{{viewUserEntry.tbeTitle}}</td>
                  <td>
                    <input type="button" style="padding: 2px 15px;" class="btn btn-warning" value="view" [disabled]="clicked" [routerLink]="['/entry-edit', viewUserEntry.tbeId]"/>
                    <input type="button" style="padding: 2px 15px;" class="btn btn-danger" value="delete" [disabled]="clicked" (click)="delete(viewUserEntry.tbeId);"/>
                  </td>
                </tr>
              </tbody>
            </table>
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)" [disabled]="clicked"></mat-paginator>
            <input type="button" class="btn btn-success pull-right" value="Add" [disabled]="clicked" (click)="entryAdd();" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>